* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding-left: 0.1%;
   
}
body{
    background-color:#ff99c8;
    font-size: 16px;

}
h1,h3{
    color:#d0f4de;
}
section#portrait{
  text-align: center;  
}
main{
    padding-top: 100px;
    width: 80%;
    margin:0 auto;
   
}
#About {
    padding:0 0 30px;
}
#Work {
    padding:0 0 30px;
}
#Contact{
    padding:0 0 30px;
}
header {
    background-color: #89c8e8;
    height: 30px;
    padding: 10px;
    position:fixed;
    top: 0;
    left:0;
    width:100%;
}
header nav{
    text-align: right;
    
}
header nav ul li {
display:inline;
list-style-type: none;
color: white;
padding:0px 20px;
}
header nav ul li a{
    text-decoration: none;
}
.color-white{
    color:white;
}
a.color-white:hover {
    color:purple;
}
footer{
    height:50px;
  
    background-color:#89c8e8;
}

.mb-5 {
    margin-bottom: 2rem;
}
